*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-weight:1;
    color: black;
    overflow-x:hidden;
}

body{background-color:#B0C4DE;font-family:system-ui,arial;display:flex;align-items:center;flex-direction:column;}

.drive{font-size:30px;color:black;}


.decal{
    margin-top:30px;
}

table{border-collapse: collapse;margin-top:90px;}
table > tbody > tr > th, table > tbody > tr > td{padding:20px;border:1px solid #222;background:white;font-family:tahoma;width:200px;text-align:center;}
table > tbody > tr > th{background:#6495ED;color:#EEE;}

.navbar{
    background-color:#6495ED;
    display:flex;
    justify-content:space-around;
    align-items:center;
    font-size:20px;
    width:100vw;
    height:auto;
}

h1{
    animation: h1 0.5s;
}

@keyframes h1{
    from{
        transform:translateY(-100px);
        opacity:0;
    }


    to{
        transform:translateY(0px);
        opacity:1;
    }

}

.nav-list{
    list-style-type:none;
    display:flex;
    flex-direction:row;
}

.nav-list .list-item{
    display:inline-block;
    padding:20px 10px;
}

.navbar a{
    color:black;
    text-decoration:none;
    transition:0.5s;
}

.navbar a:hover{
    color:white;
}

.ligne{
    width:20px;
    height:3px;
    background-color:white;
    margin-bottom:4px;
}

.menu{
    display:none;
}

form{
    background-color:#4169E1;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    margin-top:75px;
    width:65vw;
    border-radius:5px;
    box-shadow:1px 1px 1px 1px #5b656e;
}

form > li{
    list-style-type:none;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:7px;
}

li{
    list-style-type:none;
    padding:7px;
}

label{
    font-family:system-ui,arial;
}

input[type=submit],button, button a {
    background:#778899;
    font-family:system-ui,arial;
    padding: 1px 1px 1px 1px;
    text-decoration: none;
}

input[type=text],input[type=number],textarea,select,option{
    color:#778899;
    font-family:system-ui,arial;
}

.bloc-info{
    background-color:#778899;
    display:flex;
    flex-direction:column;
    width:40vw;
    border-radius:5px;
    box-shadow:1px 1px 1px 1px #5b656e;
    margin:15px;
}

.bloc-info > .li-list{
    list-style-type:none;
    display:flex;
    flex-direction:column;
}

h2 a{
    margin-top:5%;
    margin-bottom: 20%;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:0.5s;
}

.file{transition:0.5s}
.file:hover{
    color:white;
    transform: scale(1.2);

}

h2 a:hover{
    color:black;
}

div .container button{
    margin-left: 4px;
}

.container{
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;      /* haut | droit | bas | gauche */
}
/*.separ-button{margin:15px;padding:5px;display:flex;flex-direction:column;}      c'étais dans les index, je l'ai remplacer par .container pour que l'affichage soit plus clair*/

h1{
    margin-top:2%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.contrat{
    transition:0.5s;
}

.contrat:hover{
    color:#2E8B57
}


@media all and (max-width:650px){
    .navbar{
        flex-direction:column;
    }

    .nav-list .list-item{
        display:block;
        border-top:1px solid white;
        padding:10px;
    }

    .nav-list{
        width:100%;
        text-align:center;
        padding-top:10px;
        display:none;
    }

    .drive{
        text-decoration:underline;
    }

    .menu{
        display:block;
        position:absolute;
        right:15px;
        top:5px;
    }
}


li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 2px 8px 6px 6px;     /*ici liste dans dropdown*/
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: antiquewhite;
}

.dropdown-content a:hover {
    background-color: rgba(15, 0, 82, 0.849);
    color: whitesmoke;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container_image_produit{
    width: 100%;
    height: 100%;
}





 /* The alert message box */
 .alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }

  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }