{% extends "main.html" %}
{% block content %}
 <h1> Liste des donnees: </h1>
  {% if count == 0 %}
    <h2 class="error"> Aucune donnee n'a ete recue </h2>
  {% else %}
<table>
  <tr>
    <th> Température </th>
    <th> Date </th>
    <th> Capteur </th>
    <th> Emplacement </th>
    <th> Piece </th>
  </tr>
  {% for i in data %}
  <tr>
    <td> {{i.data}} </td>
    <td> {{i.timestamp}} </td>
    <td> {{i.capteur}} </td>
    <td> {{i.emplacement}} </td>
    <td> {{i.piece}} </td>
  </tr>
  {% endfor %}
  {% endif %}
</table>

{% endblock content %}