<!DOCTYPE html>
 <html lang="fr">
  <head>
   <meta charset="UTF-8">
   {% load static %}
   <link rel="stylesheet" href="{% static 'main.css' %}">
   <title> Groupe 4 | MQTT </title>
  </head>
  <body>
  <a href="/sae24_pdf/1" class="file" target="blank">Generate pdf File</a>
    <div class="hold"></div>
    <nav> <h1 class="nav"> SAE24</h1> <a href="/"> Liste des donnees </a> <a href="/capteurs"> Liste des capteurs </a> <a href="/charts"> details graphique </a></nav>
    <div class="content">
     {% block content %}
     {% endblock content %}
    </div>
  </body>
 </html>